/* Slider.css */

.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* Media Queries */

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 14px;
    bottom: 5px;
    left: 10px;
  }

  .carousel-control {
    font-size: 20px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .carousel-caption {
    font-size: 12px;
    bottom: 5px;
    left: 5px;
  }

  .carousel-control {
    font-size: 18px;
    padding: 5px;
  }
}
